/*
 * Custom styling for phpvms
 */

@include input-sm-padding($padding-small-vertical, $padding-small-horizontal);
@include input-base-padding($padding-small-vertical, $padding-small-horizontal);

a {
  z-index: 99;
}

.form-container {
  @extend .form-container;

  border-radius: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  //box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);

  h6 {
    padding: 7px;
    font-weight: 400;
    background-color: rgba(222, 222, 222, 0.3);
  }

  .form-container-body {
    padding: 8px;
  }

  .form-group .form-control {
    border-radius: 5px;
  }

  &:focus {
    border: 1px solid $brand-primary;
    & + .input-group-addon,
    & ~ .input-group-addon {
      border: 1px solid $brand-primary;
    }
  }
}

/*
 * This color falls through from bootstrap which defaults it to transparent
 */
.form-control {
  background-color: $white-bg;
}
