#
root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_size = 2

[*.php]
indent_size = 4

[*.blade.php]
indent_size = 2

[*.stub]
indent_size = 4

[Makefile]
indent_style = tab

# Matches the exact files either package.json or .travis.yml
[{package.json, .travis.yml}]
indent_size = 2
