{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "camelcase": 0,
    "no-console": 0,
    "func-names": 0,
    "prefer-object-spread": 0,
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}
