.form-container {
    border: 0;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    /*margin-bottom: 20px;*/
    font-weight: bold;
    //text-transform: uppercase;

    h6 {
        font-size: 15px;
        padding: 7px;
        background-color: rgba(222, 222, 222, 0.3);
    }

    .form-container-body {
        padding: 8px;
    }
}
