<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="phpunit" type="PHPUnitRunConfigurationType" factoryName="PHPUnit">
    <TestRunner class="FlightTest" configuration_file="$PROJECT_DIR$/phpunit.xml" directory="$PROJECT_DIR$/tests" file="$PROJECT_DIR$/tests/FlightTest.php" scope="XML" use_alternative_configuration_file="true" />
    <method />
  </configuration>
</component>