/*
 * Custom styling for phpvms
 */

@mixin input-sm-padding($padding-vertical, $padding-horizontal) {
  .form-group.form-group-no-border.input-sm,
  .input-group.form-group-no-border.input-sm {
    .input-group-addon {
      padding: $padding-vertical 0 $padding-vertical $padding-horizontal;
    }

    .form-control {
      padding: $padding-vertical $padding-horizontal;

      & + .input-group-addon {
        padding: $padding-vertical $padding-horizontal $padding-vertical 0;
      }
    }
  }

  .form-group.input-sm,
  .input-group.input-sm {
    .form-control {
      padding: $padding-vertical - 1 $padding-horizontal - 1;

      & + .input-group-addon {
        padding: $padding-vertical - 1 $padding-horizontal - 1 $padding-vertical - 1 0;
      }
    }

    .input-group-addon {
      padding: $padding-vertical - 1 0 $padding-vertical $padding-horizontal - 1;

      & + .form-control {
        padding: $padding-vertical $padding-horizontal - 1 $padding-vertical $padding-horizontal - 3;
      }
    }
  }
}
